<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 홈</title>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/mainhome.css">

</head>

<body>
    <div class="wrapper">
        <div class="banner">
            Main Home 🏠
        </div> 

        <div class="add">
            <img src="../img/addlogo.png" alt="이미지" onclick="location.href='bookmain.html'">
            추가하기
        </div>
    </div>
</body>

</html>