<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>계정</title>
  <link th:href="@{/css/font.css}" rel="stylesheet" />
  <link th:href="@{/css/all.css}" rel="stylesheet" />
  <link th:href="@{/css/account.css}" rel="stylesheet" />

  <!--아래는 vscode에서 보기위한 test용 css-->
  <link rel="stylesheet" href="../static/css/account.css">
</head>

<body>
<div class="allwrapper">
  <div class="backbutton">
    <img src="../img/toleftarrow.png" alt="이미지" onclick="location.href='/bookmain'">
  </div>

  <div class="info">
    계정 확인
  </div>


  <div class="middleWrapper">

    <div class="account-info">
      <!--계정 정보 나열한 것들-->
      <div class="id-info">
        <div class="id-info-text">아이디</div>
        <div class="id" th:text="${user.userid}">User ID</div>
      </div>

      <div class="nickname-info">
        <div class="nickname-info-text">닉네임</div>
        <div class="nickname" th:text="${user.nickname}">Nickname</div>
      </div>

      <div class="pw-info">
        <div class="pw-info-text">비밀번호 변경</div>
        <div class="pw" onclick="location.href='/changePw'">비밀번호 변경하러 가기</div>
      </div>
    </div>

    <!-- <div class="nameInfo">
      <div class="nameText">닉네임 변경</div>
      <div class="name">
        <form action="/updateNickname" method="post">
          <input type="text" name="newNickname" placeholder="새 닉네임">
          <button type="submit">변경하기</button>
        </form>
      </div>
    </div>

      <div class="pwInfo">
        <div class="pwText">비밀번호<br>변경하기</div>
        
      </div>

    </div> -->







<!--    &lt;!&ndash;사진 추가 부분&ndash;&gt;-->
<!--    <div class="photo" id="imageContainer">-->
<!--      <span id="imagePrompt">회원님을 대표하는 이미지를 골라주세요!</span>-->
<!--      <input type="file" id="profileImageUpload" accept="image/*" onchange="previewImage(event)"-->
<!--             style="display: none;">-->
<!--      <img id="profileImagePreview" style="display: none;" />-->
<!--    </div>-->



  </div>

  <script src="../js/account.js"></script>
</div>
</body>

</html>