<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    
    <link th:href="@{/css/all.css}" rel="stylesheet" />
    <link th:href="@{/css/font.css}" rel="stylesheet" />
    <link th:href="@{/css/findPw.css}" rel="stylesheet" />

</head>
<body>
    <div class="navi">
        <div class="enchive" th:onclick="|location.href='@{/}'|">Enchive</div>
    </div>

    <div class="wrapper">
        <div class="logo">비밀번호 찾기</div>

        <div class="content">
            <div class="name">아이디</div>
            <div><input type="text" ></div>
        </div>

        <form action="post">
            <div class="checking">
                <button>확인하기</button>
            </div>
        </form>
    </div>
</body>
</html>