<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 홈</title>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/mainhome.css">

</head>

<body>
    <div class="wrapper">
        <div class="banner">
            Main Home 🏠
        </div> 

        <div class="content">

            <!--만약 기존에 작성한 글이 없으면 theme1은 보이지 않음.-->
            <div class="theme1">
                <img  class="themeImg" src="" alt="사용자가 정한 테마 이미지">
                <div class="ment">
                    사용자가 정한 테마 제목
                </div>
            </div>
    
            <div class="add">
                <img src="../img/addlogo.png" alt="이미지" onclick="location.href='addMainbook.html'">
                추가하기
            </div>
        </div>
        </div>

</body>

</html>