<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/signup.css">

</head>

<body>
    <div class="allWrapper">
        <div class="logo">Enchive</div>

        <div class="id">
            <div>아이디</div>
            <div><input type="text" placeholder="@naver.com"></div>
        </div>

        <form action="post">
            <div class="checking">
                <button>이메일 인증하기</button>
            </div>
        </form>

        <div class="pw">
            <div>비밀번호</div>
            <div><input type="password"></div>
        </div>

        <div class="checkpw">
            <div>비밀번호 확인</div>
            <div><input type="password"></div>
        </div>

        <div class="name">
            <div>이름</div>
            <div><input type="text"></div>
        </div>

        <div class="nickname">
            <div>닉네임</div>
            <div><input type="text"></div>
        </div>

        <!-- <form action="post"> -->
        <div class="donebutton">
            <button onclick="location.href='welcome.html'">
                회원가입 완료
            </button>
        </div>
        <!-- </form> -->
    </div>
</body>

</html>