<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환영해요!</title>

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/welcome.css">
</head>

<!--제작 완료-->

<body>
    <div class="wrapper">
        <div class="logo" onclick="location.href='index.html'">
            Enchive
        </div>


        <div class="content">
            잉카이브에 오신 것을 환영합니다 :&#41;
            <br><br>
            세상 어디에도 없는 나만의 아카이브를 재미있게 꾸며나가요!
        </div>

        <div class="button">
            <!-- <form action="post"> -->
            <button onclick="location.href='index.html'">
                로그인 하러가기
            </button>
            <!-- </form> -->
        </div>
    </div>
</body>

</html>