<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMain</title>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/bookmain.css">
</head>
<body>


    <div class="wrapper">
        <div class="banner">
            My Archive
        </div>

        <div class="bar">
            <div class="main" onclick="location.href='mainhome.html'"> Main </div>
            <div class="this main" onclick="location.href='bookmain.html'"> This main </div>
            <div class="account" onclick="location.href='account.html'"> account </div>
        </div>
    

    </div>
    <div class="content">
        <div class="add" onclick="location.href='content.html'">
            <img src="../img/grayIcon.png" alt="이미지">
            writing new story
        </div>
    </div>

</body>
</html>